.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    min-height: 35px;
    margin-bottom: 10px;
    background-color: #bababa;
}   

.profile-card__platform-icon {
    font-family: "DestinyIcons";
    color: black;
    height: 35px;
    width: 35px;
    font-size: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    
}

.profile-card__platform-icon.xbox::before {
    content: "\F100";
}

.profile-card__platform-icon.psn::before {
    content: "\F101";
}

.profile-card__platform-icon.steam::before {
    content: "\F103";
}

.profile-card__platform-icon.blizzard::before {
    content: "\F104";
}

.profile-card__platform-icon.stadia::before {
    content: "\F105";
}

.profile-card__display-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.profile-card__bungie-namecode {
    color: #2c75ff;
}
