.profile-container {
    margin: 10px;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border: solid medium black;
}

.profile-name-container {
    display: flex;
    align-items: center;
}

.profile-name-container h1, .profile-name-container P {
    margin-left: 10px;
}

.profile-name-container p {
    font-style: italic;
}
