.search-card-container {
    width: 200px;
    margin: 5px;
    border: solid thin black;
    display: flex;
    flex-direction: column;
}

.search-card-top-wrapper {
    display: flex;
}

.search-card-top-wrapper span {
    flex-grow: 1;
    margin: 5px;
    align-self: center;
    line-height: 25px;
}

.search-card-platform-icon {
    height: 50px;
    width: 50px;
    background: black;
}

.search-card-platform-container span {
    margin-right: 5px;
}
