.search-card-container {
    width: 200px;
    margin: 5px;
    border: solid thin black;
    display: flex;
    flex-direction: column;
}

.search-card-top-wrapper {
    display: flex;
}

.search-card-top-wrapper span {
    flex-grow: 1;
    margin: 5px;
    align-self: center;
    line-height: 25px;
}

.search-card-platform-icon {
    height: 50px;
    width: 50px;
    background: black;
}

.search-card-platform-container .platform-title {
    display: flex;
    background: #232324;
}

.search-card-platform-container .platform-title span {
    margin: 0 auto;
    color: white;
}

.search-card-platform-container .platform-list span {
    margin-right: 5px;
}

