/* .search-container {
    margin: 0 10px;
} */

.search-results-container {
    display: flex;
    flex-wrap: wrap;
}

.search-form-input {
    display: block;
    width: 250px;
    padding: 5px;
    box-sizing: border-box;
}

.search-form-submit {
    display: block;
    width: 250px;
    padding: 5px;
    margin: 5px 0;
}
